<!DOCTYPE html>
<html lang="en">
<head>
  <%- include layouts/head.ejs %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/mode/javascript/javascript.min.js"></script>
</head>
<body>
  <%- include layouts/header.ejs %>
  <div class="container">
    <div class="row">
      <div class="app-row" style="margin-bottom: 10px;">
        <textarea class=".codemirror-js style="width: 100%;" id="editor"></textarea>
      </div>
      <div class="app-row" style="margin-bottom: 10px;">
        <button  type="button" class="btn btn-success btn-action" id="run">Run</button>
        <button  type="button" class="btn btn-success btn-action" id="clear">Clear</button>
        <button  type="button" class="btn btn-success btn-action" id="refresh">Refresh</button>
      </div>
    </div>
    <div class="app-row">   
      <div id="result"></div>
    </div>  
  </div>
  <%- include layouts/footer.ejs %>
  <script>
      let editor = CodeMirror.fromTextArea($("#editor")[0], {
        lineNumbers: true,
        mode: "javascript"
      });

      //show for default
      editor.doc.setValue( "function myFuction(){\n\t return 100;\n}");

      //onClick clear
      $("#clear").click(() => editor.doc.setValue(""));

      //onClick clear
      $("#refresh").click(() => editor.doc.undo());

  </script>
</body>
</html>